.form_g > div{
    width: 300px;
    height: 50px;
    margin-left: 100px;
    margin-top: 20px;
}
.form_g{
    border: 1px solid green;
    width: 420px;
    height: 500px;
    margin-left: 100px;
    
}

.btn {
    margin-top: 10px;
    margin-left: 225px;
}
.table{
    width: 420px;
    height: 500px;
    margin-left: 100px;
    margin-top: 20px;
    border: 1px solid black;

}
